header{
        color: white;
        background-color:#160f77;
        text-align: center;
        font-family:serif;
        }
h1{
    line-height: 200%;
}
body{
      background: -o-linear-gradient(top,#12d2ea 30%,#ade4ea 70%);
      background: -webkit-linear-gradient(top,#12d2ea 30%,#ade4ea 70%);
      background: -moz-linear-gradient(top,#12d2ea 30%,#ade4ea 70%);
}
.center{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width=50%;
}
figcaption{
            text-align: center;
            font-stretch: semi-condensed;
}
h2{
    background-color: #4149ab;
    font-family: monospace;
}
p{
    font-variant: small-caps;
    font-size: 120%;
}
details{
        font-variant: small-caps;
        font-size: 120%;
}
.text{
        font-variant: normal;
}
